# Python Virtual Environment & Caches
.venv/
.venv310/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class

# Environment Variables & Keys
.env
data/*.sqlite3*

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
